@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap");

.header {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  background-color: aliceblue;
  font-size: 40px;
  font-weight: 600;
  background-image: url("../public/starsDARKNESS.jpg");
}

.button-container {
  display: flex;
  align-items: center;
  position: relative;
}

.triangle {
  position: absolute;
  width: 10px;
  height: 10px;
  filter: invert(1);
  cursor: pointer;
  right: 0px;
}

.button {
  white-space: nowrap;
  font-size: 20px;
  height: 50%;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
}

.line {
  border: 2px solid black;
  height: 100px;
  width: 0px;
}
